@charset "utf-8";
/* CSS Document */
html{ height:100%;}
body{ text-align:center; height:100%; font-family:"微软雅黑";}
#outbg{ height:100%;background:#00aeef url(../images/floor.png) repeat-x scroll left bottom; position:relative;}
.wrapper{ width:1000px; margin:0 auto; position:absolute; top:50%; left:50%; margin-left:-500px; margin-top:-210px;}
.wrapper_login .box { margin-left:80px;width:360px;height:400px;-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;-moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;-ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;-o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
background: #fff;-webkit-border-radius:4px;-moz-border-radius:4px;-ms-border-radius:4px;-o-border-radius:4px; border-radius:4px; overflow:hidden;}
.box .content-wrap{ width:280px; margin:0 auto;}
.box h6{ height:60px; line-height:60px; font-size:20px; background:#f5f5f5; border-bottom:1px #c2c2c2 solid; margin:0px;}
.content-wrap{ padding:20px 0;}
.content-wrap input{ height:42px;}
.copyright{ text-align:left; padding-top:15px; margin-left:80px;}
.copyright p{ line-height:20px; margin:0px; font-size:14px;}
.action{ height:90px; background:#f5f5f5; border-top:1px #c2c2c2 solid;}
.action button{ background:#229ef5; width:280px; height:42px; margin-top:20px; font-size:20px; border-bottom:2px #0881d6 solid;font-family:"微软雅黑";}
.code{ text-align:left;}
.form-group{ overflow:hidden;}
.col-md-8,.col-md-4{padding:0px;}
.col-md-8{ padding-right:10px;}
.wrapper_logo{ padding-top:30px;}
.sysname{ color:#fff; font-size:32px; padding-top:10px; text-shadow:0px 1px 1px #999;}
.remember{ height:24px; overflow:hidden; text-align:left;}
.remember input{ height:24px;vertical-align:middle;}
.remember label{ height:24px; line-height:24px;font-weight:normal;}